<div mat-dialog-title>
    <h1>Update</h1>
</div>
<form [formGroup]="form" (ngSubmit)="addProduct()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Ex. Mens Cotton Jacket" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <input matInput type="text" placeholder="Ex. men's clothing" formControlName="category">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Image</mat-label>
                <input matInput type="email" placeholder="Ex. https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" formControlName="image">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput placeholder="Ex. 55.99" formControlName="price">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Discription</mat-label>
                <textarea matInput placeholder="Product Description Here" formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [matDialogClose]="true">Cancel</button>
        <button mat-raised-button color="primary">{{data? 'Update': 'Save'}}</button>
    </div>
</form>